:root {
  --primary: #5194cf;
  --secondary: #231f20;

  --gray: #848484;
  --dark: #4c4e52;
  --bg-light: #f0f1f5;
  --white: #fff;
  --bg-dark: #1e2129;
  
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --font-family-sans-serif: Verdana, Cabin, sans-serif;
  --font-family-serif:  'Slabo 27px', serif;
}

/**
* General Styles
**********************************
*/


body {
  font-family: var(--font-family-sans-serif);
  color:  #5f6266fb;
  color: 
}
h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
  font-family: var(--font-family-serif);
  font-weight: 600;
}
h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.btn {
  padding: .7rem 1rem;
  border-radius: 20px;
  border-width: 2px;
  border-color: var(--primary);
  font-family: var(--font-family-serif);
  font-weight: 600;
}
.btn-primary {
  background-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-outline-primary {
  color: var(--secondary);
  border-color: var(--primary);
}
.btn-outline-primary:hover {
  background-color: var(--primary);
}
.btn-light {
  border: 2px var(--gray) solid;
}
.btn-light:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

a:hover {
 text-decoration: none;
 color: var(--primary);
}



/**
*
*/

.volunteer h2, .testimony h2, .footer h2 {
  color: var(--white);
}


.info-header {
  position: relative;
  top: 0;
  font-size: .8rem;
}
.info-header .row a {
  color: var(--white);
}
.info-header a span:hover {
  color: var(--secondary);

}
.info-header .d-flex > div {
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 1px var(--white) solid;
}
.info-header .fab {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2rem;
}
.info-header .row>div:nth-child(1) {
  background-color: var(--primary);
  color: var(--white);
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-left: 5rem;
}
.info-header .row>div:nth-child(2) {
  background-color: var(--primary);
  color: var(--white);
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-right: 5rem;
}


.navbar {
  background-color: var(--white);
  border-bottom: 1px var(--bg-light) solid;
  box-shadow: 0 1px 1px var(--bg-light);
  /* top: 50px; */
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.logo {
  width: 50px;
  height: 50px;
  border: 4px var(--primary) solid;
  border-radius: 100%;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar {
  color: black;
}
.navbar-toggler .fas {
  color: var(--secondary);
  font-size: 2rem;
}
.navbar-toggler {
  border: none;
}
.nav-item {
  font-size: 1.2rem;
  position: relative;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 600;
  font-family: var(--font-family-serif);
}
.active .nav-link::after {
  position: absolute;
  content: '';
  background: var(--primary);
  width: 90%;
  height: 3px;
  left: 7px;
  bottom: -5px;
  transition: all 500ms ease;
}
.nav-link:hover::after {
  position: absolute;
  content: '';
  background: var(--primary);
  width: 90%;
  height: 3px;
  left: 7px;
  bottom: -5px;
  transition: all 500ms ease;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}
.navbar .navbar-text {
  color: var(--primary);
  font-weight: 600;
  text-shadow: 1px 1px #9ea0a9;

}


.carousel {
  position: relative;
}
.carousel-inner img {
  height: 100%;
}
.carousel .carousel-item {
  height: 40rem;
}
.carousel-caption {
  position: absolute;
  bottom: unset;
  top: 20%;
  left: 5%;
  text-align: left;
  font-size: 1.5rem;
}
.carousel-caption h4 {
  color: var(--white);
  font-size: 5rem;
}
.carousel-caption h4 .ptext {
  color: var(--primary);
}
.carousel-item::before {
  position: absolute;
  content: '';
  background: rgba(0, 7, 8, 0.274);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.carousel-control-prev {
  top: 270px;
  left: 0;
}
.carousel-control-next {
  top: 270px;
  left: 80px;
}
.carousel a .fas {
  color: var(--secondary);
  background-color: var(--white);
  border-radius: 50%;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  margin-right: 10px;
}



.quick-action {
  color: var(--white);
}
.quick-action .container {
  border: 2px var(--primary) solid;
  border-radius: 20px;
  position: relative;
  top: -100px;
  padding: O;
  background-color: rgb(81, 148, 207);
}
.quick-action .container:hover {
  background-color: rgba(0, 7, 8, 0.970);
  border-color: rgba(0, 7, 8, 0.938);
}

.quick-action .row > div {
  padding: 1rem 1rem 2rem 1rem;
  
}



.quick-action .btn {
  border-color: var(--white);
  background-color: transparent;
  color: var(--white);
}
.quick-action .btn:hover {
  border-color: var(--white);
  background-color: var(--white);
  color: var(--secondary);
}
.quick-action .fas {
  font-size: 3rem;
  padding: 1rem;
}
.quick-action h3 {
  color: var(--white);
}


.about {
  padding-top: 0;
  padding-bottom: 6rem;
}
.about img {
  position: relative;
  width: 85%;
  max-height: 27rem;
  border-radius: 20px;
}


.projects{
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f0f1f5;
}
.projects .row:nth-child(1) {
  margin-bottom: 2rem;
}
.slider .fas {
  color: var(--secondary);
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
}
.projects .card {
  border-radius: 20px;
}
.projects .card > a {
  position: relative;
  display: block;
}
.projects .card>a::before:hover {
  background-color: rgba(81, 148, 207, 0.747);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.projects .card-deck {
  margin-bottom: 2rem;
}
.projects .row {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
}



 .services {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.services .row:nth-child(1) {
  margin-bottom: 2rem;
}
.services img {
  border-radius: 100%;
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
  border: 15px var(--bg-light) solid;
}
.services  h4 {
  padding-bottom: 1rem;
  text-decoration: none;
}
.services  h4:hover {
  color: var(--primary);
}
.services img:hover {
  border-color: var(--primary);
}
.services .row:nth-child(2) {
  margin-bottom: 2rem;
}


.team {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.team .row:nth-child(1) {
  margin-bottom: 2rem;
}
.team .row:nth-child(2) {
  margin-bottom: 2rem;
}
.team img, .staff img {
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.team .row:nth-child(2) p, .staff p {
  font-size: 1.3rem;
  color: var(--secondary);
  font-weight: 500;
  margin-bottom: 0;
  font-family: var(--font-family-serif);
}
.team span, .staff span {
  font-size: 1rem;
  color: var(--primary);
}


 .volunteer {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.volunteer {
  background-image: url(../img/volunteer.JPG);
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  color: var(--white);
  position: relative;
}
.volunteer::before {
  position: absolute;
  content: '';
  background: rgba(0, 7, 8, 0.8);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.volunteer .btn-primary:hover {
  background-color: var(--white);
  border-color: var(-white);
  color: var(--primary);
}


.testimony .row > div {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.testimony .bg-testimony p {
  margin-bottom: 2rem;
}
.bg-testimony {
  background-image: url(../img/testi.JPG);
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  color: var(--white);
  position: relative;
}
.bg-testimony::before {
  position: absolute;
  content: '';
  background: rgba(0, 7, 8, 0.8);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.testimony .slider .fas {
  color: var(--white);
}
.testimony .tt-slider {
  background-color: var(--white);
  color: var(--dark);
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 10px 15px 8px var(--bg-light);
  border-top: 10px var(--bg-light) dotted;
  border-bottom: 10px var(--bg-light) dotted;

  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
}
.tt-slider > div > p {
  color: var(--gray);
}
.tt-slider img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 3px var(--bg-light) solid;
  margin-bottom: .5rem;
}
.tt-person p {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--secondary);
  margin-bottom: 0;
  font-family: var(--font-family-serif);
}
.tt-person span {
  font-size: .8rem;
  color: var(--primary);
}


 .partners {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: var(--white);
}

.partners img {
  max-height: 7rem;
  max-width: 10rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.partners .row span {
  font-weight: 600;
  color: var(--secondary);
  font-family: var(--font-family-serif);
}
.partners .row {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
}

/*
.slider {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
}
.sl-wrapper {
  transition: all 0.5s ease 0s;
  
}
.sl-item {
  position: relative;
  float: left;
  display: none;
  user-select: none;
  margin-right: 2rem;
  width: 20rem;
}
.slider .active {
  display: block;
}
*/
.sl-item {
  display: none;
}



.ft-body {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1e2129;
  color: #9ea0a9;
  background-image: url('../img/footer-pattern.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: .9rem;
}
.ft-body h3, .title {
  color: var(--white);
  padding-bottom: 1.2rem;
  
}
.title {
  font-size: 2rem;
}
.title:hover {
  color: var(--white);
}
.ft-logo {
  margin-bottom: 1rem;
}
.ft-body .fab {
  padding: 1rem;
  border-radius: 50%;
  background: #2e3138;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(46, 49, 56);
    color: #9ea0a9;
  font-size: 1.2rem;
  margin-right: 10px;
}
.ft-body .fab:hover {
  color: var(--white);
}
.ft-social {
  padding-top: 1rem;
}
.list-unstyled li {
  margin-bottom: 1rem;
}
.list-unstyled a {
  color: #9ea0a9;
}
.list-unstyled a:hover {
  color: var(--white);
}
.ft-body .row > div:nth-child(3) span {
  color: var(--white);
  padding: .5rem;
  background-color: var(--primary);
  border-radius: 10px;
}
.ft-footer {
  background-color: #13151a;
  color: var(--dark);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ft-footer p {
  margin: 0;
}

/* */
.header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: var(--white);
  font-size: .9rem;

  background-color: #1e2129;
  background-image: url('../img/footer-pattern.png');
  background-size: auto;
  background-repeat: round;
  background-position: center;
}
.header h2 {
  color: var(--white);
  font-size: 2rem;
}
.header .breadcrumb {
  background-color: #1e2129;
}
.header .breadcrumb-item a {
  color: var(--primary);
  font-size: .9rem;
}
.header .breadcrumb .active {
  color: var(--white);
}
.h-hl {
  color: var(--primary);
}
.stats {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: var(--font-family-serif);
  color: var(--white);
  font-size: 1.5rem;

  background-image: url('../img/bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.stats::before {
  position: absolute;
  content: '';
  background: rgba(0, 7, 8, 0.8);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.stats span {
  font-size: 2rem;
}
.stats-count {
  color: var(--primary);
  font-family: var(--font-family-sans-serif);
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
}

.join-us {
  padding-top: 2.8rem;
  padding-bottom: 2rem;
  background-color: var(--bg-light);
}
.text-muted {
  font-size: .8rem;
}

/**
* About Page Styles
**********************
*/
.hist-mission {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.hist-mission h2::after {
  position: absolute;
  content: '';
  background: var(--primary);
  width: 15%;
  height: 3px;
  left: 20px;
  bottom: 11px;
  top: unset;
  transition: all 500ms ease;
}
.about-services {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.about-img {
  max-height: 27rem;
  border-radius: 20px;
  width: 100%;
}

/**
* Project Page Styles
**********************
*/
.feat-project {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.feat-project img, .project-details img {
  border-radius: 20px;
}
.project-details {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.results {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.bold {
  font-weight: 600;
  color: var(--secondary);
}

/**
* Team Page Styles
**********************
*/
.staff {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.staff .p {
  color: #5f6266fb;
  font-weight: normal;
  font-size: 1rem;
  font-family: var(--font-family-sans-serif);
  padding: 0;
}
#volunteers {
  padding-top: 5rem;
}

/**
* Contact Page Styles
**********************
*/
.contact-us {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact-part > :nth-child(1) {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.form-control  {
  background-color: var(--bg-light);
}
#in-msg {
  min-height: 10rem;
}
.contact-part > :nth-child(2) {
  background-color: var(--bg-dark); 
  color: var(--white);
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.contact-part > :nth-child(2) p {
  font-size: .9rem;
}
.contact-part .contact-h {
  color: var(--primary);
  font-family: var(--font-family-serif);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.contact-part span.fas, .pri-icon {
  color: var(--white);
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 10px;
}
.be-volunteer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.donation {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--bg-light);
}


/**
* Responsive Styles
****************************
*/
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  .info-header .d-flex > div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .info-header .fab {
    padding-left: .5rem;
   padding-right: .5rem;
  }
  .info-header .row>div:nth-child(1) {
    padding-left: 1.5rem;
  }
  .info-header .row>div:nth-child(2) {
    padding-right: 1.5rem;
  }
  .about-img {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    max-height: 30rem;
  }
}
@media (max-width: 576px) {
  .info-header {
    display: none;
  }
  .quick-action {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .about .row img {
    margin-top: 2rem;
    width: 100%;
  }
  .ft-social {
    text-align: center;
  }
  .ft-body .row :nth-child(2), .ft-body .row :nth-child(3) {
    margin-top: 2rem;
  }
  .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .carousel-caption {
    font-size: 1rem;
    left: 1rem;
    display: block!important;
  }
  .carousel .carousel-item {
    height: 450px;
  }
  .carousel .carousel-caption h4 {
    font-size: 2.5rem;
  }
  .carousel .carousel-control-prev {
    top: 150px;
    left: 16px;
  }
  .carousel .carousel-control-next {
    top: 150px;
    left: 100px;
  }
  .testimony .tt-slider {
    border-top: unset;
    border-bottom: unset;
  }
  .feat-project .row > :nth-child(1) {
    margin-bottom: 2rem;
  }
}