:root {
  --primary: #5194cf;
  --secondary: #231f20;

  --gray: #848484;
  --dark: #4c4e52;
  --bg-light: #f0f1f5;
  --white: #fff;
  
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --font-family-sans-serif: Verdana, Cabin, sans-serif;
  --font-family-serif:  'Slabo 27px', serif;
}

/**
* General Styles
**********************************
*/


body {
  font-family: var(--font-family-sans-serif);
  color:  #5f6266fb;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
  font-family: var(--font-family-serif);
  font-weight: 600;
}
h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.btn {
  padding: .7rem 1rem;
  border-radius: 20px;
  border-width: 2px;
  border-color: var(--primary);
  font-family: var(--font-family-serif);
  font-weight: 600;
}
.btn-primary {
  background-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}
.btn-outline-primary:hover {
  background-color: var(--primary);
}
.btn-light {
  border: 2px var(--gray) solid;
}
.btn-light:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

a:hover {
 text-decoration: none;
 color: var(--primary);
}



/**
*
*/

.volunteer h2, .testimony h2, .footer h2 {
  color: var(--white);
}


.info-header {
  position: relative;
  top: 0;
  font-size: .8rem;
}
.info-header .row a {
  color: var(--white);
}
.info-header .row a:hover {
  color: rgba(204, 222, 224, 0.123);
  
}
.info-header .d-flex > div {
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 1px var(--white) solid;
}
.info-header .fab {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
}
.info-header .row>div:nth-child(1) {
  background-color: var(--primary);
  color: var(--white);
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-left: 5rem;
}
.info-header .row>div:nth-child(2) {
  background-color: var(--primary);
  color: var(--white);
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-right: 5rem;
}


.navbar {
  background-color: var(--white);
  border-bottom: 1px var(--bg-light) solid;
  box-shadow: 0 1px 1px var(--bg-light);
  /* top: 50px; */
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.logo {
  width: 50px;
  height: 50px;
  border: 4px var(--primary) solid;
  border-radius: 100%;
}
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar {
  color: black;
}
.navbar-toggler .fas {
  color: var(--secondary);
  font-size: 2rem;
}
.navbar-toggler {
  border: none;
}
.nav-item {
  font-size: 1.2rem;
  position: relative;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 600;
  font-family: var(--font-family-serif);
}
.active .nav-link::after {
  position: absolute;
  content: '';
  background: var(--primary);
  width: 90%;
  height: 3px;
  left: 7px;
  bottom: -5px;
  transition: all 500ms ease;
}
.nav-link:hover::after {
  position: absolute;
  content: '';
  background: var(--primary);
  width: 90%;
  height: 3px;
  left: 7px;
  bottom: -5px;
  transition: all 500ms ease;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}
.navbar .navbar-text {
  color: var(--primary);
  font-weight: 600;
  text-shadow: 1px 1px #9ea0a9;

}


.carousel {
  position: relative;
}
.carousel-inner img {
  height: 100%;
}
.carousel .carousel-item {
  height: 40rem;
}
.carousel-caption {
  position: absolute;
  bottom: unset;
  top: 20%;
  left: 5%;
  text-align: left;
  font-size: 1.5rem;
}
.carousel-caption h4 {
  color: var(--white);
  font-size: 5rem;
}
.carousel-caption h4 .ptext {
  color: var(--primary);
}
.carousel-item::before {
  position: absolute;
  content: '';
  background: rgba(0, 7, 8, 0.274);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.carousel-control-prev {
  top: 270px;
  left: 0;
}
.carousel-control-next {
  top: 270px;
  left: 80px;
}
.carousel a .fas {
  color: var(--secondary);
  background-color: var(--white);
  border-radius: 50%;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  margin-right: 10px;
}



.quick-action {
  color: var(--white);
}
.quick-action .container {
  border: 2px var(--primary) solid;
  border-radius: 20px;
  position: relative;
  top: -100px;
  padding: O;
  background-color: rgb(81, 148, 207);
}
.quick-action .container:hover {
  background-color: rgba(0, 7, 8, 0.970);
  border-color: rgba(0, 7, 8, 0.938);
}

.quick-action .row > div {
  padding: 1rem 1rem 2rem 1rem;
  
}



.quick-action .btn {
  border-color: var(--white);
  background-color: transparent;
  color: var(--white);
}
.quick-action .btn:hover {
  border-color: var(--white);
  background-color: var(--white);
  color: var(--secondary);
}
.quick-action .fas {
  font-size: 3rem;
  padding: 1rem;
}
.quick-action h3 {
  color: var(--white);
}


.about {
  padding-top: 0;
  padding-bottom: 6rem;
}
.about img {
  position: relative;
  width: 85%;
  max-height: 27rem;
  border-radius: 20px;
}


.projects{
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f0f1f5;
}
.projects .row:nth-child(1) {
  margin-bottom: 2rem;
}
.slider .fas {
  color: var(--secondary);
  padding: 0 1rem 0 1rem;
  font-size: 2rem;
}
.projects .card {
  border-radius: 20px;
}
.projects .card > a {
  position: relative;
  display: block;
}
.projects .card>a::before:hover {
  background-color: rgba(81, 148, 207, 0.747);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.projects .card-deck {
  margin-bottom: 2rem;
}
.sliding {
  position: relative;
  z-index: 1;

}
.sliding .sl {
  /*
  position: relative;
  overflow: hidden;
  width: 100%;
  */
  
}
.sliding .sl-item {
  display: none;
  /*
  position: relative;
  float: left;
  
 /* transform: translate(-200px, 0); 
  transition: all 3s ease 0s;
  /* transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out; 
  
  transition-property: ;
  transition-duration: 5s;
  transition-timing-function: ease;
  transition-delay: 5s;

  transform: translate(-200px, 0);
  
  width: 100%;
  */
}
.sliding .active {
  display: block;
}


 .services {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.services .row:nth-child(1) {
  margin-bottom: 2rem;
}
.services a img {
  border-radius: 100%;
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
  border: 15px var(--bg-light) solid;
}
.services a h4 {
  padding-bottom: 1rem;
  text-decoration: none;
}
.services a h4:hover {
  color: var(--primary);
}
.services a img:hover {
  border-color: var(--primary);
}
.services .row:nth-child(2) {
  margin-bottom: 2rem;
}


.team {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.team .row:nth-child(1) {
  margin-bottom: 2rem;
}
.team .row:nth-child(2) {
  margin-bottom: 2rem;
}
.team img {
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.team .row:nth-child(2) p {
  font-size: 1.3rem;
  color: var(--secondary);
  font-weight: 500;
  margin-bottom: 0;
  font-family: var(--font-family-serif);
}
.team span {
  font-size: 1rem;
  color: var(--primary);
}


 .volunteer {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.volunteer {
  background-image: url(../img/volunteer.JPG);
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  color: var(--white);
  position: relative;
}
.volunteer::before {
  position: absolute;
  content: '';
  background: rgba(0, 7, 8, 0.8);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.volunteer .btn-primary:hover {
  background-color: var(--white);
  border-color: var(-white);
  color: var(--primary);
}


.testimony .row > div {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.testimony .slider .fas {
  color: var(--white);
}
.testimony .bg-testimony p {
  margin-bottom: 2rem;
}
.bg-testimony {
  background-image: url(../img/testi.JPG);
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  color: var(--white);
  position: relative;
}
.bg-testimony::before {
  position: absolute;
  content: '';
  background: rgba(0, 7, 8, 0.8);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.testimony .tt-slider {
  background-color: var(--white);
  color: var(--dark);
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 10px 15px 8px var(--bg-light);
  border-top: 10px var(--bg-light) dotted;
}
.tt-slider > div > p {
  color: var(--gray);
}
.tt-slider img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 3px var(--bg-light) solid;
  margin-bottom: .5rem;
}
.tt-person p {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--secondary);
  margin-bottom: 0;
  font-family: var(--font-family-serif);
}
.tt-person span {
  font-size: .8rem;
  color: var(--primary);
}


 .partners {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--white);
}
.partners img {
  max-height: 7rem;
  max-width: 10rem;
  margin-bottom: 2rem;
}
.partners .row span {
  font-weight: 500;
  color: var(--secondary);
}



.ft-body {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1e2129;
  color: #9ea0a9;
  background-image: url('../img/footer-pattern.png');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: .9rem;
}
.ft-body h3, .title {
  color: var(--white);
  padding-bottom: 1.2rem;
  
}
.title {
  font-size: 2rem;
}
.title:hover {
  color: var(--white);
}
.ft-logo {
  margin-bottom: 1rem;
}
.ft-body .fab {
  padding: 1rem;
  border-radius: 50%;
  background: #2e3138;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(46, 49, 56);
    color: #9ea0a9;
  font-size: 1.2rem;
  margin-right: 10px;
}
.ft-body .fab:hover {
  color: var(--white);
}
.ft-social {
  padding-top: 1rem;
}
.list-unstyled li {
  margin-bottom: 1rem;
}
.list-unstyled a {
  color: #9ea0a9;
}
.list-unstyled a:hover {
  color: var(--white);
}
.ft-footer {
  background-color: #13151a;
  color: var(--dark);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ft-footer p {
  margin: 0;
}


/**
*
*/

@media (max-width: 768px) {
  .info-header .d-flex > div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .info-header .fab {
    padding-left: .5rem;
   padding-right: .5rem;
  }
  .info-header .row>div:nth-child(1) {
    padding-left: 1.5rem;
  }
  .info-header .row>div:nth-child(2) {
    padding-right: 1.5rem;
  }
}
@media (max-width: 576px) {
.info-header {
  display: none;
}
.quick-action {
  margin-left: 1rem;
  margin-right: 1rem;
}
.about .row img {
  margin-top: 2rem;
  width: 100%;
}
.ft-social {
  text-align: center;
}
.ft-body .row :nth-child(2), .ft-body .row :nth-child(3) {
  margin-top: 2rem;
}
.card {
  margin-left: 1rem;
  margin-right: 1rem;
}
.carousel-caption {
  font-size: 1rem;
  left: 1rem;
  display: block!important;
}
.carousel .carousel-item {
  height: 450px;
}
.carousel .carousel-caption h4 {
  font-size: 2.5rem;
}
.carousel .carousel-control-prev {
  top: 150px;
  left: 16px;
}
.carousel .carousel-control-next {
  top: 150px;
  left: 100px;
}
}